.hz16-modal {
    display: none;
    position: fixed;
    z-index: 99999;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    border-radius: 5px;
    border: 1px solid black;
}

.hz16-modal #container {
  width: 100%;
  height: 100%;
}

.hz16-modal #red-dot {
  position: absolute;
  background-color: red;
  top: 20px;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
